# Python
__pycache__/
*.pyc
.venv/

# Pytest
.pytest_cache/

# Reports
allure-results/
allure-report/
reports/

# Playwright
test-results/
playwright-report/

# Artifacts
artifacts/

# IDE
.idea/
.vscode/

# Authentication state
utils/auth/

#screenshots
screenshots/
WALKTHROUGH.local.md
summary.md
junit.xml
