# Python
__pycache__/
*.pyc
.venv/

# Pytest
.pytest_cache/

# Reports
allure-results/
allure-report/
reports/

# Playwright
test-results/
playwright-report/

# Artifacts
artifacts/

# IDE
.idea/
.vscode/